USE [master]
GO
/****** Object:  Database [ETLLog]    Script Date: 28.05.2020 9:53:51 ******/
CREATE DATABASE [ETLLog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETLLog', FILENAME = N'E:\sql-server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ETLLog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETLLog_log', FILENAME = N'E:\sql-server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ETLLog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETLLog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETLLog]
GO
/****** Object:  Schema [log]    Script Date: 28.05.2020 9:53:51 ******/
CREATE SCHEMA [log]
GO
/****** Object:  Table [dbo].[ExecutionLog]    Script Date: 28.05.2020 9:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](50) NULL,
	[SourceTableName] [nvarchar](255) NULL,
	[DestinationTableName] [nvarchar](255) NULL,
	[SourceRows] [int] NULL,
	[DestinationRows] [int] NULL,
	[DestinationRowsInserted] [int] NULL,
	[DestinationRowsUpdated] [int] NULL,
	[DestinationRowsDeleted] [int] NULL,
	[ExecutionStart] [datetime2](7) NULL,
	[ExecutionEnd] [datetime2](7) NULL,
	[Result] [nvarchar](50) NULL,
	[Timestamp] [timestamp] NULL,
	[LastUpdateOn] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
